# Task 4.6

## Importations

In [1]:
# Import Libraries 
import pandas as pd 
import numpy as np 
import os

In [2]:
# Set Path 
path = r'C:\Users\calli\OneDrive\Data Immersion\Achievement 4'

In [10]:
# Related to Question 5: Import Products
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

### Question 3: Import orders_products_combined pickle file

In [3]:
# Question 3: Import orders_products_combined as df_comb
df_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Functions

In [4]:
# Show df_comb
df_comb.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

### Question 4: Check the shape of df_comb

In [5]:
# Question 4: Check shape of df_comb
df_comb.shape

(32434489, 10)

### Question 5: Combine df_comb with products data set

In [11]:
# Show products shape
df_prods.shape

(49672, 5)

In [12]:
# Show df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [38]:
# Combine df_prods and df_comb
df_merged = pd.merge(df_comb, df_prods)

In [44]:
#Show df_merged
df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [22]:
# Show df_merged shape
df_merged.shape

(32404859, 14)

## Question 6: Confirm the results of the merge

In [45]:
# Confirm the results of the merge
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## Question 7: Export new dataframe

In [47]:
# Export merged dataframe as orders_products_merged
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))